@font-face {
  font-family: "DejaVuSansMono";
  src: url("./fonts/DejaVuSansMono.ttf") format("truetype");
}

:root {
  --medida: 94vw;
  font-size: calc(var(--medida) / 36);
}

@media (min-aspect-ratio: 1 / 1) {
  :root {
    --medida: 94svh;
  }
}

* {
  border: 0;
  box-sizing: border-box;
}

body {
  padding: calc(var(--medida) / 30), 0;

  height: 100svh;

  font-family: system-ui, sans, monospace;

	background-color: rgb(60, 54, 53);
  color: antiquewhite;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, main, footer {
  flex: 0 1 auto;
}

main {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor {
  width: var(--medida);
  height: var(--medida);

  margin: 0 auto;

  position: relative;

  flex-grow: 0.2;
}

.contenedor__sketch {
  width: var(--medida);
  height: var(--medida);

  position: absolute;
  top: 0;
}

.texto {
  display: flex;
  justify-content: center;
}

pre {
  font-size: calc(var(--medida) * 0.0171);
  font-family: "DejaVuSansMono", monospace;
}
